
//GRID
@mixin grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  align-items: center;
}
//FLEX
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
//BUTTON
@mixin primaryButtonCircle {
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
//FONT bARLOW
@mixin fontBarlow400 {
  font-size: Barlow;
  font-weight: 400;
}
@mixin fontBarlow700 {
  font-size: Barlow;
  font-weight: 400;
}
@mixin headerTable {
  color: $primaryColor-300;
  font-size: 12px;
  @include fontBarlow400
}

