
//FLEX
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
//BUTTON
@mixin primaryButtonCircle {
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
//BOXINPUT
@mixin fontBarlow400 {
  font-size: Barlow;
  font-weight: 400;
}