
//FLEX
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
//BUTTON
@mixin primaryButtonCircle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}