
//COLORS
$primaryColor: #00687F;
$secondaryCircleColor: #5FBBCF;
$white: #FFFFFF;
$mediumGrey: #999999;
$liteGrey: #C4C4C4;
$darkGrey: #555555;
$veryDarkGrey: #474747;

//FONT-SIZE
$fontSize-12: 12px;
$fontSize-18: 18px;

//PADDING
$padding-30: 30px;

//MARGIN
$margin-0-30: 0 30px;


