
//COLORS
$primaryColor: #00687F;
$secondaryCircleColor: #5FBBCF;
$white: #FFFFFF;
$mediumGrey: #999999;
$litleGrey: #C4C4C4;

$darkGrey: #555555;

//FONT-SIZE
$fontSize-12: 12px;

//PADDING
$padding-30: 30px;

//MARGIN
$margin-0-30: 0 30px;


