@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(7, fr1)
  > h2 {
    color: $darkGrey;
    font-family: Barlow;
    font-weight: 400;
    font-size: 12px;
   }
  > div {
    @include flexColumn;
    border: 2px solid green;
  }
}