@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  border: 1px solid red;
  @include flexRow;
  > h2 {
    color: $darkGrey;
    font-family: Barlow;
    font-weight: 400;
    font-size: 12px;

  }
  > div {
    @include flexColumn;
    margin-left: 10px;
  }
}