
.container {
  display: flex;
  flex-direction: row;
  &__letters {
    margin-right: -17px;
    z-index: 100;
    height: 42px;
    width: 54px;

  }
  &__letters-1 {
    margin-right: -9px;
    margin:0;
    height: 42px;
    width: 54px;
  }
  &__letters-2 {
    margin-right: -9px;
    height: 42px;
    width: 54px;
  }
  &__letters-3 {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 5px;
  }
}