
.container {
  display: flex;
  flex-direction: row;
  &__letters {
    margin-right: -16px;
    z-index: 100;
  }
  &__letters-1 {
    margin-right: -9px;
    margin:0;
  }
  &__letters-2 {
    margin-right: -10px;
  }
  &__letters-3 {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 5px;
  }
}