
.container {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
  text-align: center;
  width: 310px;
  object-fit: contain;
  &__letters {
    margin-right: -15px;

    height: 34px;
  }
  &__letters-1 {
    margin-right: -10px;
    margin:0;
    height: 34px;
  }
  &__letters-2 {
    margin-right: -8px;
    height: 34px;
  }
  &__letters-3 {
    margin-right: -3px;
    margin-left: -3px;
    margin-top: 5px;
  }

}