
.container {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
  text-align: center;
  &__letters {
    margin-right: -16px;
    z-index: 100;
    height: 34px;
  }
  &__letters-1 {
    margin-right: -10px;
    margin:0;
    height: 34px;
  }
  &__letters-2 {
    margin-right: -10px;
    height: 34px;
  }
  &__letters-3 {
    margin-right: -3px;
    margin-left: -3px;
    margin-top: 5px;
  }
  &__aaa {
  width: 54px;
  }
}