@import './../../../styles/variables';
@import './../../../styles/mixin';

.container {
  height: 32px;
  width: 122px;
  border: 1px solid $mediumGrey;
  border-radius: 18px;
  @include flexRow;
  justify-content: center;
  align-items: center;

}