@import './../../../styles/variables';
@import './../../../styles/mixin';

.container {
  @include flexRow;
  &__listItem{
    height: 32px;
    min-width: 122px;
    border: 1px solid $mediumGrey;
    border-radius: 18px;
    @include flexRow;
    justify-content: center;
    align-items: center;
    margin:18px 0;
    > h3 {
      font-size: 16px;
      font-family: Barlow;
      font-weight: 500;
      padding: 8px 0;
      margin-left: 18px;
      margin-right: 14px;
    }
    > div {
      width: 13px;
      height: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      background: red;
      margin-right: 18px;
    }

  }



}