/* @import './../../styles/variables';
@import './../../styles/mixin'; */

.container {
  margin: auto;
  min-height: 736px;
  width: 790px;
  left: 205px;
  top: 96px;
  border-radius: 8px;
  background-color: #E0E6EE;
}