@import './../../styles/variables';
@import './../../styles/mixin';

.container {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  @include flexRow;
  border: 2px solid red;
  &__text {
    color: $primaryColor;
  }
  &__circlePrimary {
   @include primaryButtonCircle;
   background-color: $primaryColor;
  }
  &__circleSecondary {
    @include primaryButtonCircle;
     background-color: $secondaryCircleColor;
  }
}