@import './../../styles/variables';
@import './../../styles/mixin';

.container {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  @include flexRow;
  border: 2px solid red;
  &__circle {
    @include primaryButtonCircle;
    &--primary {
      background-color: $primaryColor;
    }
   }

}