@import './../../styles/variables';
@import './../../styles/mixin';

.container {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  @include flexRow;
  &__text {
    color: $primaryColor;
    font-size: 20px;
    font-weight: 700;
    margin: 14px 0;
  }
  &__circlePrimary {
    align-items: center;
    background-color: $primaryColor;
    justify-content: center;
    @include primaryButtonCircle;
    @include flexRow;
  }
  &__circleSecondary {
    @include primaryButtonCircle;
     background-color: $secondaryCircleColor;
  }
}