@import './../../../styles/mixin';
@import './../../../styles//variables';

.container {
  width: 100vw;
  height:100vh;
  background-color: $darkGray;
  &__suggestionsWrapper {
  background-color: $white;
  border: 1px solid $borderGrey;
  box-shadow: rgba(196, 196, 196, 0.5);
  padding: 11px;
  width: 540px;
  z-index: 99999999!important;
  > ul {
    margin:0;
    padding: 0;
    list-style: none;
   > li {
      color: $darkGrey;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 11px;
    }
  }
}
}