@import './../../../styles/mixin';
@import './../../../styles//variables';

.container {
  width: 540px;
  border: 1px solid red;
  > ul {
    margin:0;
    padding: 0;
    box-shadow: rgba(196, 196, 196, 0.5);
    list-style: none;
    background-color: green;
   > li {
      color: $darkGrey;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}