@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  margin: 4px 0;
  padding: 0 15px;
  @include flexColumn;
  > tr {
    padding: 20px 0;
    @include grid;
    > th {
      color: $primaryColor-300;
      font-family: Barlow;
      font-size: 12px;
      font-weight: 400;
    }
  }
}