@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  margin: 4px 0;
  padding: 0 15px;
  @include flexColumn;
  > tr {
    padding: 15px 0;
    @include grid;
    > th {
      margin-left: 5px;
      @include headerTable;
    }
    > td {
      color: $veryDarkGrey;
      font-size: 12px;
      text-align: right;
      padding-right: 15px;
      @include fontBarlow400;
    }
    :last-child {
      padding-right: 0;
    }
  }
}