@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  margin: 4px 0;
  padding: 0 15px;
  @include flexColumn;
  > tr {
    @include grid;
    background-color: pink;
    padding: 20px 0;
  }
}