@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  align-items: center;
  justify-content: center;
  @include flexRow;
  > h2 {
    width: 70%;
    @include headerTable;
  }
  > div {
    margin-left: 10px;
    @include flexColumn;
  }
}