
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 300px;
  &__letters {
    margin-right: -15px;
    height: 34px;
  }
  &__letters-1 {
    height: 34px;
    margin:0;
    margin-right: -10px;
  }
  &__letters-2 {
    height: 34px;
    margin-right: -9px;
  }
  &__letters-3 {
    margin-left: -3px;
    margin-right: -3px;
    margin-top: 5px;
  }
}