@import '../../../styles/_mixin.scss';
@import '../../../styles//variables';

.container {
  margin-left: -15px;
  width: 300px;
  &__frontEnd {
    opacity: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include flexRow;
  }
  &__letters {
    margin-right: -15px;
    height: 34px;
  }
  &__letters-1 {
    height: 34px;
    margin:0;
    margin-right: -3px;
  }
  &__letters-2 {
    height: 34px;
    margin-right: -9px;
  }
  &__letters-3 {
    margin-left: -1px;
    margin-right: -3px;
    margin-top: 5px;
  }
}
