@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  align-items: center;
  justify-content: center;
  @include flexRow;
  > h2 {
    color: $darkGrey;
    font-family: Barlow;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    width: 70%;
  }
  > div {
    margin-left: 10px;
    @include flexColumn;
  }
}