@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {

  &__pure-button-disabled {

  align-items: center;
  background-color: red;
  border: none;
  color: $white;
  cursor: pointer;
  height: 33px;
  width: 160px;
  &:disabled {
  justify-content: center;
  letter-spacing: 5%;
  text-transform: uppercase;
  transition: all .2ms ease-in-out;

  @include flexRow;
  @include fontBarlow700;
  }
 }
}