@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {

  &__pure-button-disabled {

  align-items: center;
  background-color: $disableGrey;
  border: none;
  color: $white;
  height: 33px;
  width: 160px;
  &::disabled {
  cursor: pointer;
  justify-content: center;
  letter-spacing: 5%;
  text-transform: uppercase;
  @include flexRow;
  @include fontBarlow700;
  }
 }
}