@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  @include flexRow;
  align-items: center;
  justify-content: center;
  > h2 {
    color: $primaryColor-300;
    font-family: Barlow;
    font-weight: 400;
    font-size: 12px;
    width: 70%;
    text-align: right;

  }
  > div {
    @include flexColumn;
    margin-left: 10px;
  }
}