@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  @include flexRow;
  align-items: center;
  justify-content: center;
  > h2 {
    @include headerTable;
    width: 70%;
    text-align: left;
  }
  > div {
    @include flexColumn;
    margin-left: 10px;
  }
}