@import './../../../styles/mixin';
@import './../../../styles/variables';

.container {
  @include fontBarlow400;
  @include flexRow;
    width: 539px;
  > input {
    border: none;
    color: $veryDarkGrey;
    font-size: $fontSize-18;
    outline: none;
    padding: 7px 0;;
    width: 100%;
    &::placeholder {
      color: $liteGrey;
    }
   }
  > img {
    padding-left: 10px;
  }
}