@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {
  align-items: center;
  background-color: $primaryColor-200;
  color: $white;
  cursor: pointer;
  height: 33px;
  justify-content: center;
  text-transform: uppercase;
  width: 160px;
  @include flexRow;
}