@import '../../../styles/mixin';
@import '../../../styles/variables';

.component {
  align-items: center;
  justify-content: center;
  @include flexColumn;
  > div {
    align-items: center;
    justify-content: center;
    @include flexColumn;
    > img {
      width: 75%;
    }
  }
}