@import './../../../styles/mixin';
@import './../../../styles//variables';

.container {
  z-index: 99999999!important;
  &__suggestionsWrapper {
  background-color: $white;
  border: 1px solid $borderGrey;
  box-shadow: rgba(196, 196, 196, 0.5);
  padding: 11px;
  width: 515px;
  > ul {
    margin:0;
    list-style: none;
    padding: 0;
   > li {
      color: $darkGrey;
      cursor: pointer;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 11px;
      }
    }
  }
}
@media screen and (max-width: 343px) {
  .container {
    width: 282px;
    margin-left: 5px;
    &__suggestionsWrapper {
      width: 252px;
     }
  }
}