@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {
  align-items: flex-start;
  background-color: $white;
  border-bottom: 1px solid $mediumGrey;
  z-index: 99999!important;
  @include flexColumn;
  > label {
    color: $darkGrey;
    font-size: $fontSize-12;
    @include fontBarlow400;
  }
  &__inputBox {
    width: 539px;
    @include fontBarlow400;
    @include flexRow;
    > input {
      border: none;
      color: $veryDarkGrey;
      font-size: $fontSize-18;
      outline: none;
      padding: 7px 0;
      width: 100%;
      &::placeholder {
        color: $liteGrey;
      }
     }
    > img {
      padding-left: 10px;
    }
  }
  &__inputBoxFocus{
    background-color: #FDFFE2;
    width: 539px;
    @include fontBarlow400;
    @include flexRow;
    > input {
      background-color: #FDFFE2;
      border: none;
      color: $veryDarkGrey;
      font-size: $fontSize-18;
      outline: none;
      padding: 7px 0;;
      width: 100%;
      &::placeholder {
        color: $liteGrey;
      }
     }
    > img {
      padding-left: 10px;
    }
  }
}
@media screen and (max-width: 343px){
  .container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 265px;
    > label {
      margin-left: 5px;
    }
    &__inputBox {
      align-items: center;
      justify-content: center;
      width: 265px;
      > input {
        font-size: $fontSize-16;
        margin-left: 5px;
        max-width: 255px;
        }
     }
    &__inputBoxFocus{
      align-items: center;
      justify-content: center;
      max-width: 265px;
      > input {
        font-size: $fontSize-16;
        max-width: 255px;
        padding-left: 5px;
      }
    }
  }
}