@import '../../styles/mixin';
@import '../../styles/variables';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  max-width: 70vw;
  &__ErrorDiv {
    object-fit: cover;
    width: 15vw;
    > img {
      width: 100%;
    }
  }
  &__ErrorP {
    color: $errorRed;
    padding: 4rem;
    @include fontBarlow700;
  }
}
