@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > label {
    color: $darkGray;
    font-family: Barlow;
    font-size: $fontSize-12;
    font-weight: 400;
  }
}