@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {
  align-items: flex-start;
  width: 539px;
  border-bottom: 1px solid $mediumGrey;
  @include flexColumn;
  > label {
    color: $darkGrey;
    font-size: $fontSize-12;
    @include fontBarlow400;
  }
  &__inputBox {
    @include fontBarlow400;
    @include flexRow;
    align-content: space-between;
    justify-content: space-between;
    > input {
      border: none;
      color: $liteGrey;
      font-size: $fontSize-18;
      width: 100%;
      padding: 7px 0;;
    }
  }
}